.side-menu-container {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  cursor: pointer;
}

.sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sub-menu li {
  cursor: pointer;
}
